<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="device-width,initial-scale=1">
    <title>{{page.title}}</title>
    <link rel="icon" href="/images/fair-search.png">
    <link rel=stylesheet href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,700i,800,800i" rel="stylesheet">
  </head>
  <body class=front>
    <header>
      <h1>{{page.title}}</h1>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
      Copyright ⓒ SASC
    </footer>
  </body>
</html>